{% extends 'header.html' %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Admin
        <small>Tambah Admin</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="javascript:void(0);"><i class="zmdi zmdi-accounts-alt"></i> Master</a></li>
        <li>Admin</li>
        <li class="active">Tambah Admin</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row" style="align:center;">
        <!-- right column -->
        <div class="col-md-8">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Form Admin
              </h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" method="post">
              <div class="box-body">
                <div class="form-group">
                  <label for="admin_grup" class="col-sm-4 control-label">Admin Grup</label>
                  <div class="col-sm-8">
                    <select class="form-control select2" style="width: 100%;" id="admin_grup" name="admin_grup" data-placeholder="Pilih Grup">
                      <option value=""></option>
                      {% for res in results %}
                      <option value="{{ res.grup_id }}">{{ res.nama_grup }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="data_akun" class="col-sm-4 control-label">Akun Perkiraan</label>
                  <div class="col-sm-8">
                    <select class="from-control select2" style="width: 100%;" id="data_akun" name="akun_perkiraan" data-placeholder="Pilih Akun Perkiraan">
                      <option></option>
                      {% for res in resultsSecond %}
                      <option value="{{ res.akun_id }}">{{ res.kode_akun }} - {{ res.nama_akun }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="nama_admin" class="col-sm-4 control-label">Nama Lengkap</label>
                  <div class="col-sm-8">
                    <input type="text" name="nama_lengkap" class="form-control" id="nama_lengkap" placeholder="Nama Admin">
                  </div>
                </div>
                <div class="form-group">
                  <label for="username" class="col-sm-4 control-label">User Login</label>
                  <div class="col-sm-8">
                    <input type="text" name="username" class="form-control" id="username" placeholder="Username">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-4 control-label">Password</label>

                  <div class="col-sm-8">
                    <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password">
                  </div>
                </div>
                <div class="form-group">
                  <label for="konfirmasiPassword" class="col-sm-4 control-label">Konfirmasi Password</label>

                  <div class="col-sm-8">
                    <input type="password" name="konfirmasiPassword" class="form-control" id="konfirmasiPassword" placeholder="Konfirmasi Password">
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right" id="addAdmin">Submit</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
  </div>
{% endblock %}
