{% extends 'header.html' %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Laporan Akuntansi
        <small>{{ title }}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="javascript:void(0);"><i class="zmdi zmdi-accounts-alt"></i> Laporan</a></li>
        <li>Akuntansi</li>
        <li class="active">{{ title }}</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-default collapsed-box box-solid">
            <div class="box-header with-border" data-widget="collapse">
              <h3 class="box-title">Pencarian</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i>
                </button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form class="form-horizontal">
                <div class="box-body">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-md-5 control-label">Tanggal</label>
                      <div class="col-md-7 has-feedback">
                        <input type="text" class="date-picker form-control" id="dmy1" data-date-format="dd/mm/yyyy" data-date="{{ dmy1 }}" value="{{ dmy1 }}" name="dmy1" placeholder="dd/mm/yyyy">
                        <span class="fa fa-calendar form-control-feedback"></span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-5 control-label">Keterangan</label>
                      <div class="col-md-7">
                        <input type="text" class="form-control" id="keterangan" name="keterangan" value="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-5 control-label"></label>
                      <div class="col-md-7">
                        <button type="button" class="btn btn-info" id="cari">Cari</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          <div class="box">
            <div class="box-header hidden-xs">
              <h3 class="box-title" id="titleKas">Jurnal Harian</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
              <table id="tableData" class="table table-bordered table-hover table-striped">
                <thead class="bg-primary">
                <tr class='hidden-xs'>
                  <th class="text-center" rowspan="2" style="vertical-align:middle;">Tanggal</th>
                  <th class="text-center" rowspan="2" style="vertical-align:middle;">Faktur</th>
                  <th class="text-center" rowspan="2" style="vertical-align:middle;">Keterangan</th>
                  <th class="text-center" colspan="2">Akun Perkiraan</th>
                  <th class="text-center" rowspan="2" style="vertical-align:middle;">Debit</th>
                  <th class="text-center" rowspan="2" style="vertical-align:middle;">Kredit</th>
                </tr>
                <tr class="hidden-xs">
                  <th class="text-center">Kode Akun</th>
                  <th class="text-center">Nama Akun</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <!-- /.row -->
      <!-- Main row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
