{% extends 'header.html' %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Home
        <small>{{ title }}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="javascript:void(0);"><i class="zmdi zmdi-view-dashboard"></i> Home</a></li>
        <li class="active">{{ title }}</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row" style="align:center;">
        <!-- right column -->
        <div class="col-md-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>Kas</h3>

              <p>Kas Masuk</p>
            </div>
            <div class="icon">
              <i class="zmdi zmdi-money"></i>
            </div>
            <a href="/transaksi/kas/KM?dmy1={{ dmy1 }}" class="small-box-footer">Klik Disini <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-md-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>Kas</h3>

              <p>Kas Keluar</p>
            </div>
            <div class="icon">
              <i class="zmdi zmdi-money-off"></i>
            </div>
            <a href="/transaksi/kas/KK?dmy1={{ dmy1 }}" class="small-box-footer">Klik Disini <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-md-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>Jurnal</h3>

              <p>Jurnal Lainnya</p>
            </div>
            <div class="icon">
              <i class="zmdi zmdi-format-clear-all"></i>
            </div>
            <a href="/transaksi/jurnal/JR?dmy1={{ dmy1 }}" class="small-box-footer">Klik Disini <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-md-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-primary">
            <div class="inner">
              <h3>Deposit</h3>

              <p>Deposit Member</p>
            </div>
            <div class="icon">
              <i class="zmdi zmdi-format-clear-all"></i>
            </div>
            <a href="/transaksi/deposit?dmy1={{ dmy1 }}" class="small-box-footer">Klik Disini <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-md-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-navy">
            <div class="inner">
              <h3>Pembayaran</h3>

              <p>Pembayaran Hutang Member</p>
            </div>
            <div class="icon">
              <i class="zmdi zmdi-money"></i>
            </div>
            <a href="/transaksi/pembayaran_hutang?dmy1={{ dmy1 }}" class="small-box-footer">Klik Disini <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-md-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-purple">
            <div class="inner">
              <h3>Pembelian</h3>

              <p>Pembelian Stok ke Suplier</p>
            </div>
            <div class="icon">
              <i class="zmdi zmdi-money"></i>
            </div>
            <a href="/transaksi/pembelian?dmy1={{ dmy1 }}" class="small-box-footer">Klik Disini <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-md-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>Pembayaran</h3>

              <p>Pembayaran Hutang VME</p>
            </div>
            <div class="icon">
              <i class="zmdi zmdi-money"></i>
            </div>
            <a href="/transaksi/pembayaran_hutang_suplier?dmy1={{ dmy1 }}" class="small-box-footer">Klik Disini <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-md-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-gray">
            <div class="inner">
              <h3>Cetak</h3>

              <p>Cetak Jurnal</p>
            </div>
            <div class="icon">
              <i class="zmdi zmdi-print"></i>
            </div>
            <a href="/transaksi/cetak_jurnal?dmy1={{ dmy1 }}" class="small-box-footer">Klik Disini <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
    </section>
  </div>
{% endblock %}
