{% extends 'header.html' %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Deposit
        <small>{{ title }}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="javascript:void(0);"><i class="zmdi zmdi-accounts-alt"></i> Transaksi</a></li>
        <li><a href="javascript:void(0);"><i class="zmdi zmdi-accounts-alt"></i> Deposit</a></li>
        <li class="active">{{ title }}</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <input type="hidden" id="urlMutasi" value="/transaksi/depositJson/{{ idDeposit }}">
              <input type="hidden" id="urlMutasiJurnal" value="/laporan/akuntansi/jurnalJson/{{ idJurnal }}">
              <h3 class="box-title" id="titleKas">{{ titleKas }}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
              <table id="tableData" class="table table-bordered table-hover table-striped">
                <thead class="bg-primary">
                <tr>
                  <th class="text-center">Deposit Id</th>
                  <th class="text-center">Komodo Mutasi Id</th>
                  <th class="text-center">Tanggal</th>
                  <th class="text-center">Nama Member</th>
                  <th class="text-center">Nominal</th>
                  <th class="text-center">Keterangan</th>
                  <th class="text-center">Catatan</th>
                  <th class="text-center">Tipe Deposit</th>
                  <th class="text-center">Edit Tipe Deposit</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          <div class="box">
            <div class="box-header hidden-xs">
              <h3 class="box-title" id="titleKas">Jurnal Deposit</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
              <table id="tableDataJurnal" class="table table-bordered table-hover table-striped">
                <thead class="bg-primary">
                  <tr>
                    <th class="text-center" rowspan="2" style="vertical-align:middle;">Tanggal</th>
                    <th class="text-center" rowspan="2" style="vertical-align:middle;">Faktur</th>
                    <th class="text-center" rowspan="2" style="vertical-align:middle;">Keterangan</th>
                    <th class="text-center" colspan="2">Akun Perkiraan</th>
                    <th class="text-center" rowspan="2" style="vertical-align:middle;">Debit</th>
                    <th class="text-center" rowspan="2" style="vertical-align:middle;">Kredit</th>
                  </tr>
                  <tr>
                    <th class="text-center">Kode Akun</th>
                    <th class="text-center">Nama Akun</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <!-- /.row -->
      <!-- Main row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
